.header {
  width: 320;
  height: 56.00002670288086;
  top: 28px;
  border-width: 1px;

}
.logo_header {
  display: grid;
  justify-content: flex-start;
  width: 126;
  height: 24;
  top: 28px;
  left: 27px;
  margin: 36px;
  }

 @media screen and (min-width: 758px) and (max-width: 1279px) {
 .header {
    display: flex;
    justify-content: flex-start;
    padding-top: 45px;
    padding-left: 200px;
    box-sizing: border-box;
  }

  .logo_header {
    width: 173px;
    height: 33px;
    margin: 0;
  }
}


@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: flex-start;
    padding-top: 45px;
    padding-left: 200px;
    box-sizing: border-box;
  }

  .logo_header {
    width: 173px;
    height: 33px;
    margin: 0;
  }
}

