.header {
  width: 320;
  height: 56.00002670288086;
  top: 28px;
  border-width: 1px;

}
.logo_header {
  display: grid;
  justify-content: flex-start;
  width: 126;
  height: 24;
  top: 28px;
  left: 27px;
  margin: 36px;
  }