.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_opened {
  display: flex;
}

.modal__content {
  background-color: #ffffff;
  width: 282px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  position: relative;
}

/*.modal__close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: transparent url("./images/Close Icon.svg") center/contain no-repeat;
  border: none;
  cursor: pointer;
}*/

.modal__close-button {
  position: absolute;
  top: -36px;
  right: -36px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
}

/* Dibuja la X con pseudoelementos */
.modal__close-button::before,
.modal__close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: white;
  transform-origin: center;
}

.modal__close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding: 10px 0;
  font-family: Inter, sans-serif;
}

.modal__save-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.modal__save-button:hover {
  background-color: #222222;
}
