.profile {
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 36px;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile__avatar-wrapper {
  width: 120px;
  height: 120px;
  margin-bottom: 26px;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile__name-wrapper {
  text-align: center;
}

.profile__title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.profile__name {
  font-size: 27px;
  font-weight: 500;
  margin: 0;
  color: white;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url("../images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}


.profile__description {
  font-size: 14px;
  line-height: 1.2;
  margin: 7px 0 24px;
  color: #ffffffb3;
}

.profile__add-button {
  width: 100%;
  max-width: 282px;
  padding: 10px;
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile__add-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 758px) {
  .profile {
    margin-bottom: 32px;
    width: 100%;
  }

  .profile__container {
    display: grid;
    grid-template-columns: 168.75px 1fr 150px;
    grid-template-areas: "avatar name add";
    column-gap: 24px;
    width: 880px;
    height: 120px;
    margin: 0 auto;
    align-items: center;
  }

  .profile__avatar-wrapper {
    grid-area: avatar;
    width: 168.75px;
    height: 100%;
    align-self: center;
  }

  .profile__name-wrapper {
    grid-area: name;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: center;
  }

  .profile__title-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .profile__name {
    text-align: left;
  }

  .profile__description {
    width: auto;
    text-align: left;
  }

  .profile__add-button {
    grid-area: add;
    width: 150px;
    height: 50px;
    margin: 0;
    align-self: center;
  }
}

@media screen and (min-width: 1280px) {
  .profile {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}
